/* ==UserStyle==
@name           YouTube Thumbnails with Sakura Miko
@namespace      https://github.com/bokobokomachine/YouTube-Thumbnails-with-hololive
@version        0.2
@description    Adds "with Sakura Miko" to YouTube thumbnails.
@author         bokobokomachine
==/UserStyle== */
@-moz-document url-prefix("https://www.youtube.com/") {
    /* Base Settings */
    yt-image.ytd-thumbnail:has(img)::after,
    .yt-thumbnail-view-model__image::after,
    .ytp-videowall-still-image::after,
    .shortsLockupViewModelHostThumbnailContainer::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('https://raw.githubusercontent.com/bokobokomachine/YouTube-Thumbnails-with-hololive/refs/heads/main/with-miko.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right top;
    }
    
    /* Video Thumbnails */
    yt-image.ytd-thumbnail:has(img)::after,
    .yt-thumbnail-view-model__image::after,
    .ytp-videowall-still-image::after {
        content: '';
        background-size: contain;
        background-position: right top;
    }
    
    /* Shorts Thumbnails */
    .shortsLockupViewModelHostThumbnailContainer::after {
        content: '';
        background-size: contain;
        background-position: right center;
    }
}
